<div class="click-search-input-demo-container">
  <div class="card">
    <div class="card-body">
      <h4>click search input</h4>

      <div class="click-search-input-demo">
        <h4>Empty search input</h4>
        <div class="click-search-input-demo-content">
          <click-search-input></click-search-input>
          <code>{{ codes[0] }}</code>
        </div>
      </div>

      <div class="click-search-input-demo">
        <h4>Placeholdered search input</h4>
        <div class="click-search-input-demo-content">
          <click-search-input
            placeholder="Type search string..."
          ></click-search-input>
          <code>{{ codes[1] }}</code>
        </div>
      </div>

      <div class="click-search-input-demo">
        <h4>Placeholdered search input</h4>
        <div class="click-search-input-demo-content">
          <click-search-input
            (changed)="onChanged($event)"
          ></click-search-input>
          <code>{{ codes[2] }}</code>
        </div>
      </div>
    </div>
  </div>
</div>
