.form-field {
  color: #333;
  font-size: 14px;

  & + & {
    margin-left: 10px;
  }
}

.form-error {
  display: none;
  margin-top: 3px;
  color: #cd4032;
  font-weight: 500;

  .form-field.has-error & {
    display: block;
  }

  .checkbox ~ & {
    margin-left: 25px;
  }
}

.checkbox-control {
  display: flex;
  margin: 0;
  cursor: pointer;

  /*Checkbox on the disabled state*/
  .checkbox-input:disabled ~ & {
    cursor: default;
    color: #808080;
  }
}

.checkbox-label {
  &:not(:empty) {
    margin-left: 9px;
    line-height: 19px;
  }
  .dropdown-filters & {
    white-space: nowrap;
  }
}

.checkbox-mark {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid #cbcbcb;
  transition: 0.3s ease;
  flex: 0 0 auto;

  &::before,
  &::after {
    content: none;
    position: absolute;
    width: 1.5px;
    background-color: #fff;
    display: block;
  }

  /*Hide the checkmark by default*/
  .checkbox-input ~ .checkbox-control &::after {
    content: none;
  }

  /*Unhide the checkmark on the checked state*/
  .checkbox-input:checked ~ .checkbox-control &::before {
    content: '';
    top: 7px;
    left: 3px;
    transform: rotate(-45deg);
    height: 4px;
  }

  .checkbox-input:checked ~ .checkbox-control &::after {
    content: '';
    top: 3px;
    left: 7px;
    transform: rotate(-135deg);
    height: 9px;
  }

  /*Unhide the checkmark on the multiselected state*/
  .checkbox.multiselected .checkbox-input:checked ~ .checkbox-control &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 10px;
  }

  .checkbox.multiselected
    .checkbox-input:checked
    ~ .checkbox-control
    &::before {
    content: none;
  }

  /*Checkbox on the disabled state*/
  .checkbox-input:disabled ~ .checkbox-control & {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
  }

  /*Checkbox on the checked and disabled state*/
  .checkbox-input:checked:disabled ~ .checkbox-control & {
    background-color: #cbcbcb;
    border-color: #f3f3f3;
  }

  /*Checkbox on the checked state with focus*/
  .checkbox-input:focus ~ .checkbox-control & {
    border-color: #0875bf;
    box-shadow: 0 0 2px 0 #0875bf;
  }

  /*Checkbox on the checked state*/
  .checkbox-input:checked:not(:disabled) ~ .checkbox-control & {
    background-color: #0875bf;
    border-color: #0875bf;
  }

  /*Checkbox with hover*/
  .checkbox:hover .checkbox-input:not(:disabled) ~ .checkbox-control & {
    border-color: #a7a7a7;
  }

  /*Checkbox on the checked state with hover*/
  .checkbox:hover .checkbox-input:checked:not(:disabled) ~ .checkbox-control & {
    background-color: #808080;
    border-color: #808080;
  }

  .form-field.has-error .checkbox-input ~ .checkbox-control &,
  .form-field.has-error .checkbox-input:hover ~ .checkbox-control & {
    border-color: #cd4032;
  }
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
