<div class="form-field" [class.has-error]="!!errorLabel">
  <div class="checkbox" [class.multiselected]="valueInternal === checkboxState.Intermediate">
    <input
      [id]="id"
      (change)="onCheckboxChange()"
      [checked]="convertCheckboxStateToBoolean()"
      [disabled]="disabled"
      class="checkbox-input visually-hidden"
      type="checkbox"
    >
    <label class="checkbox-control" [for]="id">
      <span class="checkbox-mark"></span>
      <span class="checkbox-label" *ngIf="checkboxLabel">
         {{ checkboxLabel }}
      </span>
    </label>
  </div>
  <div class="form-error">{{ errorLabel }}</div>
</div>
