:host {
  display: flex;
  position: relative;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.input-date-fake {
  line-height: 38px;
}

.input-date-measure {
  -webkit-appearance: textfield;
  font-family: "Roboto", sans-serif;
  padding: 8px 5px;
  width: 86px;
  font-size: 14px;
  width: auto;
  position: absolute;
  left: -1000000px;
}

.btn-divider {
  display: block;
  width: 22px;
  text-align: center;
}

.btn-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: pointer;
  transition: .3s ease;
  border: 0;
  background: transparent;

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  .dropdown.open & {
    color: #0875bf;
  }

  & + & {
    margin-left: 20px;
  }
}

.btn-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.btn-icon {
  margin-right: 8px;
  margin-top: -1px;
  color: #808080;
  flex: 0 0 auto;

  .btn-inline:hover & {
    color: inherit;
  }

  .dropdown.open & {
    color: #0875bf;
  }
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-calendar {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='15px' viewBox='0 0 15 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECalendat icon%3C/title%3E%3Cg id='icons/15px/calendar/reg' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='calendar' stroke='%23808080'%3E%3Cg id='Group-7' stroke-width='1.3'%3E%3Crect id='Rectangle' x='0.792857143' y='2.35' width='12.7' height='12' rx='2'%3E%3C/rect%3E%3Cpath d='M7,0.5 L7,3.722628' id='Line-8' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M10.590855,0.5 L10.590855,3.722628' id='Line-8-Copy' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M3.590855,0.5 L3.59085519,3.722628' id='Line-8-Copy-2' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3Cpath d='M0.860351563,5.6 L13.3571429,5.6' id='Line-7' stroke-linecap='round'%3E%3C/path%3E%3Crect id='Rectangle' stroke-width='0.8' fill='%23808080' x='3.2' y='8' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-5' stroke-width='0.8' fill='%23808080' x='3.2' y='11' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-3' stroke-width='0.8' fill='%23808080' x='6.5' y='8' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-6' stroke-width='0.8' fill='%23808080' x='6.5' y='11' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-4' stroke-width='0.8' fill='%23808080' x='10' y='8' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-7' stroke-width='0.8' fill='%23808080' x='10' y='11' width='1' height='1'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  .btn-inline:hover & {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='15px' viewBox='0 0 15 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECalendat icon%3C/title%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='calendar-blue' stroke='%230875BF'%3E%3Cpath d='M0.860351563,5.6 L13.3571429,5.6' id='Line-7' stroke-linecap='round'%3E%3C/path%3E%3Crect id='Rectangle' stroke-width='0.8' fill='%230875BF' x='3.2' y='8' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-5' stroke-width='0.8' fill='%230875BF' x='3.2' y='11' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-3' stroke-width='0.8' fill='%230875BF' x='6.5' y='8' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-6' stroke-width='0.8' fill='%230875BF' x='6.5' y='11' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-4' stroke-width='0.8' fill='%230875BF' x='10' y='8' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle-Copy-7' stroke-width='0.8' fill='%230875BF' x='10' y='11' width='1' height='1'%3E%3C/rect%3E%3Crect id='Rectangle' stroke-width='1.3' x='0.792857143' y='2.35' width='12.7' height='12' rx='2'%3E%3C/rect%3E%3Cpath d='M7,0.5 L7,3.722628' id='Line-8' stroke-width='1.3' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M10.590855,0.5 L10.590855,3.722628' id='Line-8-Copy' stroke-width='1.3' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M3.590855,0.5 L3.59085519,3.722628' id='Line-8-Copy-2' stroke-width='1.3' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.icon-calendar-today {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECalendar today%3C/title%3E%3Cg id='Style-guide' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='3.-Icons' transform='translate(-913.000000, -462.000000)' stroke='%23808080'%3E%3Cg transform='translate(913.000000, 463.000000)'%3E%3Cg id='calendar' stroke-width='1' fill-rule='evenodd'%3E%3Cg id='Group-7' stroke-width='1.3'%3E%3Crect id='Rectangle' x='0.802380952' y='2.46333333' width='13.6333333' height='12.8866667' rx='2'%3E%3C/rect%3E%3Cpath d='M7.46666667,0.533333333 L7.46666667,3.9708032' id='Line-8' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M11.296912,0.533333333 L11.296912,3.9708032' id='Line-8-Copy' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M3.83024533,0.533333333 L3.83024554,3.9708032' id='Line-8-Copy-2' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3Cpath d='M0.917708333,5.97333333 L14.247619,5.97333333' id='Line-7' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3Cpath d='M5.5,10.5 L7.5,12.5' id='Line-12' stroke-width='1.1' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M7.5,12.5 L10.5,8.5' id='Line' stroke-width='1.1' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  .btn-inline:hover & {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECalendar today%3C/title%3E%3Cg id='Style-guide' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='3.-Icons' transform='translate(-913.000000, -462.000000)' stroke='%230875bf'%3E%3Cg transform='translate(913.000000, 463.000000)'%3E%3Cg id='calendar' stroke-width='1' fill-rule='evenodd'%3E%3Cg id='Group-7' stroke-width='1.3'%3E%3Crect id='Rectangle' x='0.802380952' y='2.46333333' width='13.6333333' height='12.8866667' rx='2'%3E%3C/rect%3E%3Cpath d='M7.46666667,0.533333333 L7.46666667,3.9708032' id='Line-8' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M11.296912,0.533333333 L11.296912,3.9708032' id='Line-8-Copy' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M3.83024533,0.533333333 L3.83024554,3.9708032' id='Line-8-Copy-2' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3Cpath d='M0.917708333,5.97333333 L14.247619,5.97333333' id='Line-7' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3Cpath d='M5.5,10.5 L7.5,12.5' id='Line-12' stroke-width='1.1' stroke-linecap='round'%3E%3C/path%3E%3Cpath d='M7.5,12.5 L10.5,8.5' id='Line' stroke-width='1.1' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}