<div class="tree">

  <div class="tree-search">
    <click-search-input
      #searchInput
      (changed)="onSearchChanged($event)"
      [placeholder]="translations.NavigationTree_Search_InputPlaceholder"
    ></click-search-input>
  </div>

  <ul class="tree-list is-root scroller-container">
    <div #scrollContainer *ngIf="hasResults" class="tree-list-inner" perfectScrollbar>
      <click-tree-node
        *ngFor="let keyNode of keys"
        [keyNode]="keyNode"
        [nodes]="workingNodes"
        [translations]="translations"
        (changed)="onTreeNodeChanged($event)"
      ></click-tree-node>
    </div>

    <li *ngIf="!hasResults" class="tree-item">
      <div class="tree-item-label">{{ translations.NavigationTree_List_NoItemAvailable }}</div>
    </li>
  </ul>
</div>