<div style="text-align:center; overflow: hidden;">
  
  <h1>@click packages</h1>

  <p><a href="" routerLink="/date-picker">click-date-picker</a></p>
  <p><a href="" routerLink="/date-picker-range">click-date-picker-range</a></p>
  <p><a href="" routerLink="/icon">click-icon</a></p>
  <p><a href="" routerLink="/search-input">click-search-input</a></p>
  <p><a href="" routerLink="/tree-view">click-tree-view</a></p>
  <p><a href="" routerLink="/tristate-checkbox">click-tristate-checkbox</a></p>
  <p><a href="" routerLink="/time-domain">click-time-domain</a></p>

  <router-outlet></router-outlet>
</div>
