<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; overflow: hidden;">
  <h1>@click date picker example</h1>

  <span
    ><i
      role="button"
      [id]="['123']"
      class="calendar-icon fa fa-calendar"
      (click)="dp.click()"
      (keypress)="dp.click()"
    ></i
  ></span>

  <click-date-picker
    (setDateEvent)="setDateEvent($event)"
    class="dp"
    #dp
    [selectedDate]="selectedDate"
    [todayDate]="todayDate"
    [todayButtonText]="todayButtonText"
  >
  </click-date-picker>

  <router-outlet></router-outlet>
</div>
