html,
body {
  width: 100%;
  height: 100%;
}

::ng-deep .npm-registry-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.dp {
  position: relative;
  right: 77px;
  top: 5px;
  visibility: hidden;
}

.icon {
  font-size: 20px;
  margin: 20px 10px 20px 20px;
  color: #a7a7a7;
  cursor: pointer;
  &:hover {
    color: #1174be;
  }
  &:focus {
    outline: none;
    color: #1174be;
  }
}

.calendar-icon {
  @extend .icon;
  margin: 12px;
}

.title {
  padding-top: 50px;
}
