<div>
  <h2>Icon</h2>

  <div class="click-icon-demo">
    <div>
      <h4>With the arrows</h4>
      <click-icon
        [id]="clickIconId1"
        [withArrows]="true"
        (click)="onClickIcon($event)"
        (messageEvent)="getIconName($event)"
        [name]="clickIconTitle"
        [title]="clickIconTitle"
        (prev)="onPrevClicked($event)"
        (next)="onNextClicked($event)"
      ></click-icon>
    </div>

    <div>
      <h4>Without the arrows</h4>
      <click-icon
        id="clickIconId2"
        [withArrows]="demoWithoutArrows"
        (click)="onClickIcon($event)"
        (messageEvent)="getIconName($event)"
        [name]="clickIconTitle"
        [title]="clickIconTitle"
        (prev)="onPrevClicked($event)"
        (next)="onNextClicked($event)"
      ></click-icon>
    </div>
  </div>
</div>
