<div>
  <div class="click-icon-demo">
    <button type="button" (click)="onErrorClick()" class="button">
      <span>Error</span>
    </button>
    <button type="button" (click)="onInfoClick()" class="button">
      <span>Info</span>
    </button>
    <button type="button" (click)="onWarningClick()" class="button">
      <span>Warning</span>
    </button>

   <click-message-dialog [isOpen]="isOpen" [width]="width" [title]="data.title"
   [okButtonString]="data.okButtonString" [cancelButtonString]="data.cancelButtonString" [message]="data.message"
   [dialogType]="data.dialogType" [buttonOptions]="data.buttonOptions"
   (cancelClick)="onCancelClick($event)" (okClick)="onOkClick($event)"
   ></click-message-dialog>
  </div>
</div>